@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-menu-item-selected {
    background-color: transparent !important;
    color: unset !important;
}

.ant-menu-item {
    background-color: transparent !important;
}

.ant-menu-item:has(.active) {
    background-color: #074799 !important;
    color: #fff !important;
}


.ant-menu{
    display: flex !important; 
    flex-direction: column  !important;
    gap: 10px !important;
}


.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}
.message {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    &--error {
        background-color: var(--danger-color);
    }

    &--success {
        background-color: var(--success-color);
    }

    &--loading {
        background-color: var(--warning-color);
    }
}
