.search-certificate{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-certificate__content{
    display: flex;
    align-items: center;
    max-width: 430px;
    width: 100%;
    height: auto;
}