.search-certificate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-certificate__content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 430px;
  width: 100%;
  height: 130vh;
}

.search-wrapper {
  transform: scale(0.15);

  & > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
