.admin__layout{
    height: 100vh;
    padding: 20px;
    display: flex;
    gap: 0 20px;
}

.admin__content{
    height: 100%;
    flex: 1;
}

.admin__content div[admincontent="content"]{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.admin-content__heading{
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid var(--main-accent-color);
}

@media only screen and (max-width: 1200px){
    .admin__layout{
        flex-direction: column-reverse;
        gap: 30px 0;
        height: auto;
    }
    
    .sidebar{
        max-width: none;
        flex-direction: row;
        align-items: center;
        padding: 0 16px;   
        h1{
            display: none;
        }
    }

    .sidebar__profile{
        padding: 0 20px;
    }
    
    .sidebar__menu-wrapper{
        flex-direction: row;
        align-items: center;
        .sidebar__menu-list{
            flex-direction: row;
            gap: 0 10px;
        }
    }
        
    .manage-certificate__item{
        font-size: 14px;
        a{
            max-width: 200px;
        }
    }
}


@media only screen and (max-width: 990px){
    .sidebar{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .sidebar__menu-wrapper{
        button{
            border-radius: 8px;
            max-width: 150px;
            margin-bottom: 16px;
        }
        .sidebar__menu-list{
            font-size: 14px;
            gap: 0;
        }
    }
        
    .manage-certificate__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .create-certificate__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create-certificate__form{
        width: 100%;
        padding: 30px;
    }
}

@media only screen and (max-width: 670px){
    .manage-certificate__list{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .certificates{
        overflow: auto;
        height: auto;
        .certificates__filters{
            padding-top: 20px;

        }
    }
    .certificates__filters-pagination{
        padding-right: 20px;

    }
    .certificates__filters-pagination-number{
        width: 20px !important;
    }

}

@media only screen and (max-width: 600px){
    .sidebar{
        // display: flex;
    
        flex-direction: column;
        h1{
            display: block;
        }
    }
    .sidebar__menu-wrapper{
        button{
            border-radius: 8px;
            max-width: 140px;
            margin-bottom: 16px;
            font-size: 12px;
        }
        display: flex !important;
        flex-direction: column !important;
    }
    .sidebar__menu-list{
        display: flex !important;
        flex-direction: column !important;
    }
    .create-certificate__form{
        input{
            font-size: 14px !important;
            font-weight: 500;
        }
    }
}